{% extends 'AnnounceSystem/base.html' %}
{% load static %} 
{% block content %}
    <div class="contentbox">
        <table width="100%">
        <tr>
            <th align="center"><span class="typeblock">【 {{category}} 】&nbsp;&nbsp;</span>&nbsp;&nbsp;標題 : {{title}}</th>
        </tr>
        <tr>
            <td>
                <span class="newsinfo" >
                    <div align="center" style="border:1px solid red">
                    <img src="{% static "images/date.png" %}" alt="" width="16" height="16" />&nbsp;DATE : {{pubtime}}&nbsp;
                    <img src="{% static "images/user.png" %}" alt="" width="16" height="16" />&nbsp;USER : {{nickname}}
                    </div>
                    <p>&nbsp;&nbsp;{{message}}</p>
                </span>
            </td>
        </tr>
        </table>
    </div>

    <div class="topfunction">
        <a href="{% url 'AnnounceSystem:index' %}" title="返回首頁">
            <img src="{% static "images/home.png" %}" alt="返回首頁" width="86" height="32" /></a>
        </div>
    </div>
{% endblock %}